@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(2 6 23 /1);
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
#root {
  min-height: 100%;
  width: 100%;
}
div.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
